nodered_smartcart_flow.json
[
  {
    "id": "1a1b1c1d1e1f1g1h",
    "type": "tab",
    "label": "SmartCart Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "http_in",
    "type": "http in",
    "z": "1a1b1c1d1e1f1g1h",
    "name": "Basket Input",
    "url": "/nodered/predict",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "function_prepare"
      ]
    ]
  },
  {
    "id": "function_prepare",
    "type": "function",
    "z": "1a1b1c1d1e1f1g1h",
    "name": "Prepare Request",
    "func": "msg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ basket: msg.payload.basket });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 100,
    "wires": [
      [
        "http_request"
      ]
    ]
  },
  {
    "id": "http_request",
    "type": "http request",
    "z": "1a1b1c1d1e1f1g1h",
    "name": "Call ML Service",
    "method": "POST",
    "ret": "obj",
    "url": "http://ml_service:5001/predict",
    "x": 560,
    "y": 100,
    "wires": [
      [
        "http_response"
      ]
    ]
  },
  {
    "id": "http_response",
    "type": "http response",
    "z": "1a1b1c1d1e1f1g1h",
    "name": "Return Result",
    "statusCode": "",
    "headers": {},
    "x": 770,
    "y": 100,
    "wires": []
  }
]